@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Alces Institute, S.L.
        <br />
        Madrid, ES 98052-6399
        <br />
        Teléfono: 91 55 55 55
    </address>

    <address>
        <strong>Atención al paciente:</strong>   <a href="mailto:pacientes@example.com">pacientes@medicalces.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@medicalces.com</a>
    </address>
</main>