@using MVC_Hospitales.Models
@model IQueryable<SALA>

<link href="@Url.Content("~/SASS/main.css")" rel="stylesheet" />

@if (Model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    TIPOS DE CUIDADOS (ESPECIALIDAD)
                </th>
                <th>
                    CAMAS DISPONIBLES
                </th>
            </tr>
        </thead>

        @foreach (var sala in Model)
        {
            <tbody>
                <tr>
                    <td class="align-middle">
                        @sala.NOMBRE
                    </td>
                    <td class="align-middle">
                        @sala.NUM_CAMA
                    </td>
                </tr>
            </tbody>
        }

    </table>
}

else
{
    <h2 style="color:red">No existe personal médico en este hospital</h2>
}
